<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
    * {
      box-sizing: border-box;
    }
    body {
      position: absolute;
      top: 35%;
      left: 35%;
      transform: translate(-35%, -35%);
      font-family: "Roboto";
      color: #ffffff;
    }
    .rain-container {
      position: relative;
      background: #000;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
    i {
      position: absolute;
      height: 120px;
      border-radius: 0 0 999px 999px;
      animation: animate 5s linear infinite;
    }
    @keyframes animate {
      0% {
        transform: translateY(-120px);
      }
      100% {
        transform: translateY(calc(100vh + 120px));
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label span {
      transform: scale(1.25);
    }
    input[type="radio"]:checked + label .red {
      border: 2px solid #711313;
    }
    input[type="radio"]:checked + label .orange {
      border: 2px solid #873a08;
    }
    input[type="radio"]:checked + label .yellow {
      border: 2px solid #816102;
    }
    input[type="radio"]:checked + label .olive {
      border: 2px solid #505a0b;
    }
    input[type="radio"]:checked + label .green {
      border: 2px solid #0e4e1d;
    }
    input[type="radio"]:checked + label .teal {
      border: 2px solid #003633;
    }
    input[type="radio"]:checked + label .blue {
      border: 2px solid #103f62;
    }
    input[type="radio"]:checked + label .violet {
      border: 2px solid #321a64;
    }
    input[type="radio"]:checked + label .purple {
      border: 2px solid #501962;
    }
    input[type="radio"]:checked + label .pink {
      border: 2px solid #851554;
    }
    label {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      cursor: pointer;
    }
    label:hover span {
      transform: scale(1.25);
    }
    label span {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.2s ease-in-out;
    }
    label span.red {
      background: #db2828;
    }
    label span.orange {
      background: #f2711c;
    }
    label span.yellow {
      background: #fbbd08;
    }
    label span.olive {
      background: #b5cc18;
    }
    label span.green {
      background: #21ba45;
    }
    label span.teal {
      background: #00b5ad;
    }
    label span.blue {
      background: #2185d0;
    }
    label span.violet {
      background: #6435c9;
    }
    label span.purple {
      background: #a333c8;
    }
    label span.pink {
      background: #e03997;
    }
  </style>
</head>

<body>
  <div class="rain-container">
    <h1>Add a Family Member</h1>
    <form action="/new" method="post">
      <p>What's your name?</p>
      <input type="text" name="name">

      <p>Pick a color:</p>
      <input type="radio" name="color" id="red" value="red" />
      <label for="red"><span class="red"></span></label>

      <input type="radio" name="color" id="green" value="green" />
      <label for="green"><span class="green"></span></label>

      <input type="radio" name="color" id="yellow" value="yellow" />
      <label for="yellow"><span class="yellow"></span></label>

      <input type="radio" name="color" id="olive" value="olive" />
      <label for="olive"><span class="olive"></span></label>

      <input type="radio" name="color" id="orange" value="orange" />
      <label for="orange"><span class="orange"></span></label>

      <input type="radio" name="color" id="teal" value="indigo" />
      <label for="teal"><span class="teal"></span></label>

      <input type="radio" name="color" id="blue" value="blue" />
      <label for="blue"><span class="blue"></span></label>

      <input type="radio" name="color" id="violet" value="violet" />
      <label for="violet"><span class="violet"></span></label>

      <input type="radio" name="color" id="purple" value="purple" />
      <label for="purple"><span class="purple"></span></label>

      <input type="radio" name="color" id="pink" value="pink" />
      <label for="pink"><span class="pink"></span></label>
      <div class="spacer"></div>
      <button type="submit">Add</button>
    </form>
  </div>

  <script>
    const rainContainer = document.querySelector(".rain-container");

    // background Colors for the raindrop
    const background = [
      "linear-gradient(transparent, aqua)",
      "linear-gradient(transparent, red)",
      "linear-gradient(transparent, limegreen)",
      "linear-gradient(transparent, white)",
      "linear-gradient(transparent, yellow)"
    ];

    const amount = 100; // amount of raindops
    let i = 0;

    // Looping and creating the raindrop then adding to the rainContainer
    while (i < amount) {
      // Creating an element
      const drop = document.createElement("i");

      // CSS Properties for raindrop
      const raindropProperties = {
        width: Math.random() * 5 + "px",
        positionX: Math.floor(Math.random() * window.innerWidth) + "px",
        delay: Math.random() * -20 + "s",
        duration: Math.random() * 5 + "s",
        bg: background[Math.floor(Math.random() * background.length)],
        opacity: Math.random() + 0.2
      };

      // Setting styles for raindrop
      drop.style.width = raindropProperties.width;
      drop.style.left = raindropProperties.positionX;
      drop.style.animationDelay = raindropProperties.delay;
      drop.style.animationDuration = raindropProperties.duration;
      drop.style.background = raindropProperties.bg;
      drop.style.opacity = raindropProperties.opacity;

      // Appending the raindrop in the rainContainer
      rainContainer.appendChild(drop);
      i++;
    }
  </script>
</body>

</html>
